.errorBox
{
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: auto;
	margin-right: auto;
	height: 200px;
	width: 85%;

	border-radius: 15px;
	background-color: #909090;

	text-align: left
}

#errorText
{
	position: relative;
	top: 10%;
	left: 15px;
	font-family: Arial;
	font-size: 2em;
	font-weight: bold;
}

#errorBackLink
{
	position: relative;
	top: 40%;
	left: 15px;
	font-family: Arial;
	font-size: 2em;
	font-weight: normal;
}

/*
#first 
{
	height: 60px;
	width: 160px;
	background-color: #cc188c;
background:linear-gradient(top, #cc188c, #FFADAD); 
background:-moz-linear-gradient(top, #cc188c, #FFADAD); 
background:-webkit-linear-gradient(top, #cc188c, #FFADAD); 
background:-o-linear-gradient(top, #cc188c, #FFADAD); 
background:-ms-linear-gradient(top, #cc188c, #FFADAD);
	margin-right: 0px;
	margin-left: 0px;
	border-radius: 5%;
	text-align: center;
	margin-top: 40px;
	font-weight: bold;
	font-size: 20px;
	color: white;
	opacity: 1;
}

#second 
{
	height: 60px;
	width: 160px;
	background-color: #f8389e;
background:linear-gradient(top, #f8389e, #FFADAD); 
background:-moz-linear-gradient(top, #f8389e, #FFADAD); 
background:-webkit-linear-gradient(top, #f8389e, #FFADAD); 
background:-o-linear-gradient(top, #f8389e, #FFADAD); 
background:-ms-linear-gradient(top, #f8389e, #FFADAD);
	margin-right: 0px;
	margin-left: 0px;
	border-radius: 5%;
	text-align: center;
	margin-top: 40px;
	font-weight: bold;
	font-size: 20px;
	color: white;
	opacity: 1;
}
#third {
	height: 60px;
	width: 160px;
	background-color: #fd3025;
background:linear-gradient(top, #fd3025, #FFADAD); 
background:-moz-linear-gradient(top, #fd3025, #FFADAD); 
background:-webkit-linear-gradient(top, #fd3025, #FFADAD); 
background:-o-linear-gradient(top, #fd3025, #FFADAD); 
background:-ms-linear-gradient(top, #fd3025, #FFADAD);
	margin-right: 0px;
	margin-left: 0px;
	border-radius: 5%;
	text-align: center;
	margin-top: 40px;
	font-weight: bold;
	font-size: 20px;
	color: white;
	opacity: 1;
}
#fourth 
{
	height: 60px;
	width: 160px;
	background-color: #fd662c;
background:linear-gradient(top, #fd662c, #FFADAD); 
background:-moz-linear-gradient(top, #fd662c, #FFADAD); 
background:-webkit-linear-gradient(top, #fd662c, #FFADAD); 
background:-o-linear-gradient(top, #fd662c, #FFADAD); 
background:-ms-linear-gradient(top, #fd662c, #FFADAD);
	margin-right: 0px;
	margin-left: 0px;
	border-radius: 5%;
	text-align: center;
	margin-top: 40px;
	font-weight: bold;
	font-size: 20px;
	color: white;
	opacity: 1;
}
#fifth 
{
	height: 60px;
	width: 160px;
	background-color: #f99d1c;
	background:linear-gradient(top, #f99d1c, #FFADAD); 
	background:-moz-linear-gradient(top, #f99d1c, #FFADAD); 
	background:-webkit-linear-gradient(top, #f99d1c, #FFADAD); 
	background:-o-linear-gradient(top, #f99d1c, #FFADAD); 
 	background:-ms-linear-gradient(top, #f99d1c, #FFADAD);
	margin-right: 0px;
	margin-left: 0px;
	border-radius: 5%;
	text-align: center;
	margin-top: 40px;
	font-weight: bold;
	font-size: 20px;
	color: white;
	opacity: 1;
}

#first:hover, #second:hover, #third:hover, #fourth:hover, #fifth:hover 
{
-moz-transform: scale(1.05);
-webkit-transform: scale(1.05);
}
*/