nav 
{
	margin: auto;
	text-align: center;
}

nav ul ul 
{
	display: none;
}

	nav ul li:hover > ul 
	{
		display: block;
	}


nav ul 
{
	background: #efefef; 
	background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	/*top/bittom padding, left/right padding for the entire menu bar*/
	padding: 0 10px;
	/*the padding must be >= the border-radius or else it looks weird*/
	border-radius: 10px;  
	list-style: none;
	position: relative;
	display: inline-table;
}
	nav ul:after 
	{
		content: "";
		clear: both;
		display: block;
	}

	nav ul li 
	{
		float: left;
	}
		nav ul li:hover 
		{
			background: #4b545f;
			background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
			background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
			background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
		}
			nav ul li:hover a 
			{
				color: #fff;
			}
		
		nav ul li a 
		{
			/*the menu buttons themselves*/
			display: block; 
			padding: 15px 20px; /*size of menu buttons: top/bittom padding, left/right padding*/
			color: #757575;
			text-decoration: none;
		}
			
		
	nav ul ul 
	{
		background: #5f6975;
		border-radius: 0px;
		padding: 0;
		position: absolute;
		top: 100%;
	}
		nav ul ul li 
		{
			float: none; 
			border-top: 1px solid #6b727c;
			border-bottom: 1px solid #575f6a;
			position: relative;
		}
			nav ul ul li a 
			{
				/*dropdown menu items*/
				padding: 15px 40px; /*the size of the dropdown menu items: top/bittom padding, left/right padding*/
				color: #fff;
			}	
				nav ul ul li a:hover 
				{
					background: #4b545f;
				}
		
	nav ul ul ul 
	{
		position: absolute;
		left: 100%;
		top:0;
	}