
label {
	color: #999;
}



.cf:before, .cf:after{
    content: ""; 
    display: table;
}

.cf:after {
    clear: both;
}



.addform
{
	width: 330px;
	margin: 50px auto;
	padding: 20px;
	background-color: rgba(250,250,250,0.5);
	border-radius: 5px;
    	border: 1px solid rgba(0, 0, 0, 0.3);
}


.addform ul 
{
	padding: 0;
	margin: 0;
}

.addform li 
{
	display: block;
	
}

.addform input:not([type=submit]) 
{
	padding: 5px 15px;
	margin-right: 10px;
	margin-top: 15px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 
				0px 1px 0px 0px rgba(250, 250, 250, 0.5) ;
}

.addform input[type=submit] 
{
	border: 1px solid rgba(0, 0, 0, 0.3);

	background:linear-gradient(top, #4FD345, #0D4705); 
	background:-moz-linear-gradient(top, #4FD345, #0D4705); 
	background:-webkit-linear-gradient(top, #4FD345, #0D4705); 
	background:-o-linear-gradient(top, #4FD345, #0D4705); 
	background:-ms-linear-gradient(top, #4FD345, #0D4705);
	
	color: #fff;
	padding: 5px 15px;
	margin-right: 0;
	margin-top: 15px;
	border-radius: 3px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}
















.searchform 
{
	width: 330px;
	margin: 50px auto;
	padding: 20px;
	background-color: rgba(250,250,250,0.5);
	border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.searchform ul 
{
	padding: 0;
	margin: 0;
}

.searchform li 
{
	display: inline;
	float: left;
}

.searchform input:not([type=submit]) {
	padding: 5px 15px;
	margin-right: 10px;
	margin-top: 15px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 
				0px 1px 0px 0px rgba(250, 250, 250, 0.5) ;
}

.searchform input[type=submit] 
{
	border: 1px solid rgba(0, 0, 0, 0.3);

	background:linear-gradient(top, #4FD345, #0D4705); 
	background:-moz-linear-gradient(top, #4FD345, #0D4705); 
	background:-webkit-linear-gradient(top, #4FD345, #0D4705); 
	background:-o-linear-gradient(top, #4FD345, #0D4705); 
	background:-ms-linear-gradient(top, #4FD345, #0D4705);
	
	color: #fff;
	padding: 5px 15px;
	margin-right: 0;
	margin-top: 15px;
	border-radius: 3px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}

.databaseReply
{
	text-align: center;
	color: #555;
}